<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
            <li><strong> Event</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">

          <div class="shop-inner">
            <div class="page-title">
              <h2>LOTTE Internet Duty-free Shop Event</h2>
            </div>
            <div class="toolbar">

            </div>
            <div class="product-grid-area">
              <ul class="products-grid">
                <!-- 체크용 글 -->
                <%
                if(eventlist.length>0){
                  for(var i = 1; i<eventlist.length ; i++){
                    var oneEvent = eventlist[i];
                    var date='';
                    if(oneEvent[2]=='no date'){
                      date='';
                    }
                    else {
                      date = oneEvent[2];
                    }
                    %>

                    <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <div class="pr-img-area"> <a title="어떤적립금" href="<%=oneEvent[4]%>">
                              <figure> <img class='photo4'  src="<%=oneEvent[3]%>" alt="">
                              </a>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="어떤적립금" href="<%=oneEvent[4]%>"><%=oneEvent[1]%> </a> </div>
                              <div class="item-content">
                                <div class="item-price">
                                  <div class="price-box"> <span class="regular-price"> <span class="price"><%=date%></span> </span> </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                      <%
                    }
                  }
                  %>
              </ul>
            </div>
            <div class="pagination-area ">

            </div>
          </div>
        </div>
        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <div class="block shop-by-side">

            <div class="sidebar-bar-title">
              <h3>Event</h3>
            </div>
            <div class="block-content">
              <div class="layered-Category">
                <div class="layered-content">
                  <ul class="check-box-list">
                    <li>
                      <label for="jtv2"> <a href="/reserve_shilla"><span class="button"> SHILLA Internet Duty-free Shop Event</span></a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/reserve_lotte"><span class="button"> LOTTE Internet Duty-free Shop Event</span></a> </label>
                    </li>
                    <li>
                      <label for="jtv2"> <a href="/reserve_shinsegae"><span class="button"> SHINSEGAE Internet Duty-free Shop Event</span></a> </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Main Container End -->
  <!-- Footer -->
<% include ./includes/footer.ejs %>
