<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <% if(depth1 != ""){%>
            <li class="home"> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>"><%=depth1%></a></li>
            <%if(depth2==''||depth2!=undefined){%>
            <li class=""> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>&depth2=<%=depth2%>">&raquo; <%=depth2%></a></li>
              <% if(depth3==''||depth3!=undefined){%>
                <li><strong>&raquo; <%=depth3%></strong></li>
              <%}
            }
            }%>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col1-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-12 col-xs-12">
          <div class="shop-inner">
            <div class="page-title">
              <%if(depth2==''||depth2!=undefined){
                if(depth3==''||depth3!=undefined){%>
                    <h2><%=depth3%></h2>
                <%}
                else{%>
                  <h2><%=depth2%></h2>
                <%}
              }
              else{%>
                <h2><%=depth1%></h2>
              <%}%>
              <h5><%=total%> 개의 상품이 존재합니다.</h5>
            </div>
            <div class="toolbar column">
              <div class="sorter">
                <div class="short-by">
                  <!-- <label>페이지: </label>
                  <select>
                    <option selected="selected">16개씩 보기</option>
                    <option>32개씩 보기</option>
                  </select> -->
                </div>
                <div class="short-by">
                  <!-- <label>정렬 방법:</label>
                  <select>
                    <option selected="selected">인기순</option>
                    <option>최신순</option>
                    <option>낮은가격순</option>
                    <option>높은가격순</option>
                  </select> -->
                </div>
              </div>
            </div>
            <div class="product-grid-area">
              <ul class="products-grid">
                <%

                for( var i = 0 ; i < productlist.length ; i++){
                  %>
                  <li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
                    <div class="product-item">
                      <div class="item-inner">
                        <div class="product-thumbnail">
                          <div class="pr-img-area"> <a title="<%=productlist[i].prd_Name%>" href="/product/single?id=<%=productlist[i]._id%>&depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>" >
                            <figure> <img class="first-img" src="<%=productlist[i].prd_IMGURL%>" alt=""></figure>
                            </a>
                          </div>
                          <div class="pr-info-area">
                            <div class="pr-button">
                              <div class="mt-button quick-view"> <a href="/product/single?id=<%=productlist[i]._id%>&depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>" > <i class="fa fa-search"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info">
                          <div class="info-inner">
                            <div class="item-title"> <a title="<%=productlist[i].prd_Name%>" href="/product/single?id=<%=productlist[i]._id%>&depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>" name="filename" ><%=productlist[i].prd_Name%> </a> </div>
                            <div class="item-content">
                              <div class="brand"> <a title="<%=productlist[i].prd_Brand%>" href="/product/single?id=<%=productlist[i]._id%>&depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>" ><%=productlist[i].prd_Brand%> </a></div>
                              <div class="item-price">
                                <div class="price-box"> <span class="regular-price"> <span class="price">$<%=productlist[i].prd_Price%></span> </span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <%
                }
                %>

              </ul>
            </div>
            <div class="pagination-area ">
              <ul>
                <%
                if(totalcount > 10){
                  var page_ten_count = totalcount/10;
                  var page_ten = Math.floor(startpage/160);
                  if(page_ten*10+10 > totalcount){
                    var endpage = totalcount;
                  }
                  else{
                    var endpage = page_ten*10+10;
                  }
                  if(page_ten>=1){
                    %>
                      <li><a onclick="moveURL(<%=page_ten*10-10%>)"><i class="fa fa-angle-left"></i></a></li>
                    <%
                  }

                  for( var j = page_ten*10 ; j < endpage ; j++){

                    if(j===startpage/16){%>
                        <li><a class="active" onclick="moveURL(<%=j%>)"><%=j+1%></a></li>
                      <%
                    }
                    else{

                    %>
                        <li><a onclick="moveURL(<%=j%>)"><%=j+1%></a></li>
                    <%
                  }}%>
                    <li><a onclick="moveURL(<%=page_ten*10+10%>)"><i class="fa fa-angle-right"></i></a></li>
                  <%
                }
                else{
                  for(var j = 0 ; j < totalcount ; j ++){

                    if(j===startpage/16){%>
                        <li><a class="active" onclick="moveURL(<%=j%>)"><%=j+1%></a></li>
                      <%
                    }
                    else{

                    %>
                        <li><a onclick="moveURL(<%=j%>)"><%=j+1%></a></li>
                    <%
                  }}
                }

                %>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Container End -->
  <!-- Footer -->

  <footer>
    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-7">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <div class="footer-logo"><a href="/index"><img src="images/saemyundae.PNG" style="max-width:50%" alt="fotter logo"></a> </div>
          <p style="text-align:center; margin:0 0 0px">세면대는 인터넷 면세점을 이용하거나</p>
          <p style="text-align:center;  margin:0 0 0px">관련 정보를 얻고 싶을 때 도움을 주는</p>
          <p style="text-align:center;  margin:0 0 15px">최고의 인터넷면세점 ‘도우미’입니다.</p>

        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p>smdManager123@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>(02) 712-5233</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
          <div class="footer-content">
            <div class="address"> <i class="fa fa-map-marker"></i>
              <p>서울시 노원구 공릉동 232-2 3층</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
                <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
                <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
                <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </footer>
  <a href="#" class="totop"> </a> </div>

  <script>

  function getQuery(paramName, presentURL) {
    var _tempUrl = presentURL;
    //url에서 처음부터 '?'까지 삭제
    var _tempArray = _tempUrl.split('&');
    // '&'을 기준으로 분리하기
    for (var i = 0; _tempArray.length; i++) {
      if(_tempArray[i]==undefined)
      {
        return undefined;
      }
      var _keyValuePair = _tempArray[i].split('=');
      // '=' 을 기준으로 분리하기
      if (_keyValuePair[0] == paramName) {
        // _keyValuePair[0] : 파라미터 명 // _keyValuePair[1] : 파라미터 값
        return _keyValuePair[1];
      }
    }
  }

  function changeQuery(paramName, paramvalue, presentURL) {
    var _tempUrl = presentURL;
    //url에서 처음부터 '?'까지 삭제
    var _tempArray = _tempUrl.split('&');
    // '&'을 기준으로 분리하기
    for (var i = 0; _tempArray.length; i++) {

      var _keyValuePair = _tempArray[i].split('=');
      // '=' 을 기준으로 분리하기
      if (_keyValuePair[0] == paramName) {
        // _keyValuePair[0] : 파라미터 명 // _keyValuePair[1] : 파라미터 값
        var beforeparams = _keyValuePair[0]+"="+_keyValuePair[1];
        var changeURL = presentURL.replace(beforeparams,_keyValuePair[0]+"="+paramvalue);
        return changeURL;
      }
    }
  }


  function moveURL(j) {
    //검색 결과인지 / 뎁스클릭인지 확인


    var presentURL = window.location.href;
    if (getQuery("startpage",presentURL) == undefined) {

        location.href = presentURL + "&startpage=" + j;
    } else {

        location.href = changeQuery("startpage",j,presentURL);
    }


  }

// document.getElementById('url2').value = location.href;
// document.getElementById('url3').value = document.URL;
</script>
<script>
function moveDetail(obj){
    var itemname = $(obj).attr('title');
    var body={
      itemname : itemname
    };
    $.ajax({
             type: "POST",
             url: "/product/single/",
             async: true,
             data: body,
             dataType: "JSON",
             success: function(json) {
               console.log(json);
             },
             error: function(error) {
                console.log(error);
             }
          });

}
</script>


<!-- End Footer -->
<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!--jquery-slider js -->
<script type="text/javascript" src="js/slider.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
        /* <![CDATA[ */
        var mega_menu = '0';

        /* ]]> */
        </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>





<!--jquery-ui.min js -->
<!-- <script type="text/javascript" src="js/jquery-ui.js"></script> -->

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/jquery.growl.js" type="text/javascript"></script>
<link href="css/jquery.growl.css" rel="stylesheet" type="text/css" />
<script>
 $(document).ready(function() {
    $.ajax({
      type: "POST",
      url: "/autocomplete",
      async: true,
      dataType: "JSON",
      success: function(json) {
        var result = json.slice(0,10);
        $("#searchbox").autocomplete({
          source:  function(request, response) {
                // var results = $.ui.autocomplete.filter(json, request.term);
                // var results= json;
                response(result);
            },
          select: function(event, ui) {
            console.log(ui.item);
          },
          focus: function(event, ui) {
            $("#searchbox").val(ui.item.label);
            return false;
            //event.preventDefault();
          }
        });
      }
    })
  })
</script>
</body>
</html>
