<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>"><%=depth1%></a></li>
            <%if(depth2==''||depth2!=undefined){%>
            <li class=""> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>&depth2=<%=depth2%>">&raquo; <%=depth2%></a></li>
              <% if(depth3==''||depth3!=undefined){%>
                <li><a title="Go to Home Page" href="/product?depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>"><strong>&raquo; <%=depth3%></strong></a></li>
              <%}
            }%>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main">
        <div class="product-view-area">
          <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
            <div class="large-image"> <img class="zoom-img" id='img_url' value="<%=product.prd_IMGURL%>" src="<%=product.prd_IMGURL%>" alt="products">  </div>
            <div class="flexslider flexslider-thumb">

            </div>

            <!-- end: more-images -->

          </div>
          <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">

              <div class="product-name">
                <h4 id='prd_brand' value="<%=product.prd_Brand%>"><%=product.prd_Brand%></h4> <p id='prd_ref' value="<%=product.prd_REF%>" > REF.NO : <%=product.prd_REF%></p>
                <h1 id="prd_name" value="<%=product.prd_Name%>"><%=product.prd_Name%></h1>

              </div>
              <div class="product-name" id='prd_id' value="<%=product.prd_id%>">

                <!-- <h4>요약 설명</h4>
                <p style="color: red;">피부 표면의 과잉 피지를 줄여주는 오일-프리 토너</p>
                <p> 스쿠알란, 살구씨 오일, 스위트 아몬드 오일, 아보카도 오일 등 식물성 보습 성분이 피부 본래의 수분 장벽을 강화해주어 진정 및 보습에 도움을 줍니다.</p>
                <h1></h1> -->
              </div>
              <h4>Price of Product</h4>
              <div class="col-sm-7 col-lg-12 col-md-7">
                <div class="reviews-content-right">
                  <div class="table-responsive reviews-table">
                    <table>
                      <tbody>

                          <tr>
                            <th style="width:160px;"></th>
                            <th colspan="2">Duty-Free Price</th>
                            <th>Semyeondae Lowest Price!</th>
                            <th>Go to Shop</th>
                          </tr>
                          <tr>
                            <td style="text-align:left" id="SL_reserved" value = "<%=SL_reserved%>">SHILLA Internet Duty-free Shop :</td>
                            <%if(product.prd_SLURL!="42"){%>
                            <!-- <td><p class="old-price"><span id='sl_origin_price' value = 0 class="price"> </span></p></td>
                            <td><p class="special-price"><span id='sl_discount_price' class="price" > </span></p></td> -->
                            <td colspan="2"><p class="special-price"><span id='sl_duty_price' class="price" > </span></p></td>
                            <td><p class="special-price"><span id='sl_final_price' value = 0 class="price2"></p></td>
                            <td><a title="<%=product.prd_SLURL%>" id="prd_sl_url" href="<%=product.prd_SLURL%>" value="<%=product.prd_SLURL%>" target="_blank">Move</a></td>
                            <%}else{%>
                              <td colspan="4"><p class="old-price"> <strong>This item does not exist in SHILLA Internet Duty-free Shop.</strong></p></td>
                            <%}%>
                          </tr>
                          <tr>
                            <td style="text-align:left" id="LT_reserved" value = "<%=LT_reserved%>">LOTTE Internet Duty-free Shop :</td>
                            <%if(product.prd_ProductURL!="42"){%>
                            <!-- <td><p class="old-price"><span id='lt_origin_price' value = 0 class="price"> </span></p></td>
                            <td><p class="special-price"><span id='lt_discount_price' class="price"></span></p></td> -->
                            <td colspan="2"><p class="special-price"><span id='lt_duty_price' class="price" > </span></p></td>
                            <td><p class="special-price"><span id='lt_final_price' value = 0 class="price2"></span></p></td>
                            <td><a title="<%=product.prd_ProductURL%>"id="prd_lt_url" href="<%=product.prd_ProductURL%>" value="<%=product.prd_ProductURL%>" target="_blank">Move</a></td>
                            <%}else{%>
                              <td colspan="4"><p class="old-price"> <strong>This item does not exist in LOTTE Internet Duty-free Shop.</strong></p></td>
                            <%}%>
                          </tr>
                          <tr>
                            <td style="text-align:left" id="SSG_reserved" value = "<%=SSG_reserved%>">SHINSEGAE Internet Duty-free Shop :</td>
                            <%if(product.prd_SSGURL!="42"){%>
                            <!-- <td><p class="old-price"><span id='ssg_origin_price' value = 0 class="price"></span></p></td>
                            <td><p class="special-price"><span id='ssg_discount_price' class="price"></span></p></td> -->
                            <td colspan="2"><p class="special-price"><span id='ssg_duty_price' class="price" > </span></p></td>
                            <td><p class="special-price"><span id='ssg_final_price' value = 0 class="price2"></span></p></td>
                            <td><a title="<%=product.prd_SSGURL%>" id="prd_ssg_url" href="<%=product.prd_SSGURL%>" value="<%=product.prd_SSGURL%>" target="_blank" >Move</a></td>
                            <%}else{%>
                            <td colspan="4"><p class="old-price"> <strong>This item does not exist in SHINSEGAE Internet Duty-free Shop.</strong></p></td>
                            <%}%>
                          </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="product-name" style="float:bottom">
                  <h6><br/></h6>

                  <h6 style="border-radius:15px; padding:5px 5px;background-color:#ffffcc; color:black; font-weight:bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ※ 'Semyeondae Lowest Price' is the amount that you can check during the final calculation process.<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You can apply any other discount method you have.</h6>
                  <h6><br/></h6>
                </div>
                <div class="ratings">

                  <p class="availability in-stock pull-left">Availability:
                    <%if(product.prd_SLURL!="42"){%>
                      <span id='sl_storage' value=false>Shilla : No Stock</span>
                    <%}
                    if(product.prd_ProductURL!="42"){%>
                      <span id='lt_storage' value=false>Lotte : No Stock</span>
                    <%
                  }if(product.prd_SSGURL!="42"){%>
                      <span id='ssg_storage' value=false>Shinsegye : No Stock</span>
                      <%}%>
                    </p>
                </div>
                <div class="product-variation">
                    <div class="cart-plus-minus">
                      Select Duty Free Shop :
                          <select class="selectbox" name="duty_category" id="duty_category">
                            <option selected="selected" value = -1>----- Select Duty Free Shop -----</option>
                            <option value = 0 id="select_sl">SHILLA Internet Duty-free Shop</option>
                            <option value = 1 id="select_lt">LOTTE Internet Duty-free Shop</option>
                            <option value = 2 id="select_ssg">SHINSEGAE Internet Duty-free Shop</option>
                          </select>

                    </div>
                    <br/><br/><br/>
                    <button class="button pro-add-to-cart" title="" type="button" onclick="addCart()" id="add_Cart"><span><i class="fa fa-shopping-cart"></i> Add to Cart</span></button>
                    <button class="button pro-add-to-cart" onclick="cart_nologin()" id="add_Cart_None"><span><i class="fa fa-shopping-cart"></i>Shopping Cart</span></button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12"><div class="product-tab-inner">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#Post" data-toggle="tab"> Professional post </a> </li>
                <li> <a href="#reviews" data-toggle="tab">Customer Reviews</a> </li>
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Post">
                  <div class="main-container col2-left-layout">
                    <div class="container">
                      <div class="row">
                        <!-- 전문 포스트 부분 python으로 추가해서 보여준다. -->
                            <div class="product-grid-area">
                              <ul class="products-grid">
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div align="right" class="product-item"  style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner"  >
                                      <div class="product-thumbnail">
                                        <div class="pr-img-area"> <a id='post_1_url' title="post1" href="" target="_blank">
                                          <figure>
                                             <img class="first-img" id='post_1_img' src=""  alt=""></img>
                                          </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info" >
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_1_name' title="post1" href="" target="_blank"></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_1_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div class="product-item"   style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner">
                                      <div class="product-thumbnail" >
                                        <div class="pr-img-area"> <a id='post_2_url' title="post2" href="" target="_blank">
                                          <figure> <img class="first-img" id='post_2_img' src="" alt=""></img>
                                       </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info">
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_2_name' title="post2" href="" target="_blank" ></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_2_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div class="product-item"   style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner">
                                      <div class="product-thumbnail" >
                                        <div class="pr-img-area"> <a id='post_3_url' title="post3" href="" target="_blank">
                                          <figure> <img class="first-img" id='post_3_img' src="" alt="">
                                          </img>
                                       </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info" >
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_3_name' title="post3" href="" target="_blank"></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_3_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>


                      </div>
                    </div>
                  </div>
                </div>
                <div id="reviews" class="tab-pane fade">
                  <div class="col-sm-5 col-lg-5 col-md-5">



                    <!-- 고객들 후기 리스트 -->
                    <div class="reviews-content-left">
                      <h2>Customer Reviews</h2>
                      <!-- <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div> -->
                      <p class="rating-links"> <a id='total_review'></a> <span class="separator">|</span> <a>Leave Your Review</a> </p>
                      <div class="review-ratting" id='review_0' display="none">

                      </div>

                      <div class="review-ratting" id='review_1'>
                        <!-- 후기 내용 + 고객 ID -->

                        <a href="#" id='review_content1'>Contents</a>
                        <p id='review_user_id1'> (Nickname)</p>
                        <table>
                          <tbody><tr>
                            <!-- 별점 부분 -->
                            <th>Scope</th>
                            <td>
                              <div class="rating" id='review_rating1'>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <p class="author">
                        <!-- 날짜 -->
                        <small id='review_date1'> Posted on 16/12/2015</small>
                      </p>
                    </div>

                    <div class="review-ratting" id='review_2'>
                      <!-- 후기 내용 + 고객 ID -->
                      <a href="#" id='review_content2'>Contents</a>
                      <p id='review_user_id2'> (Nickname)</p>
                      <table>
                        <tbody><tr>
                          <!-- 별점 부분 -->
                          <th>Scope</th>
                          <td>
                            <div class="rating" id='review_rating2'>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p class="author">
                      <!-- 날짜 -->
                      <small id='review_date2'> Posted on 16/12/2015</small>
                    </p>
                  </div>

                  <div class="review-ratting" id='review_3'>
                    <!-- 후기 내용 + 고객 ID -->
                    <a href="#" id='review_content3'>Contents</a>
                    <p id='review_user_id3'> (Nickname)</p>
                    <table>
                      <tbody><tr>
                        <!-- 별점 부분 -->
                        <th>Scope</th>
                        <td>
                          <div class="rating" id='review_rating3'>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <p class="author">
                    <!-- 날짜 -->
                    <small id='review_date3'> Posted on 16/12/2015</small>
                  </p>
                </div>



                    <div class="pagination-area " id='flag_review' value=-1>
                      <li id='review_left'><a onclick="moveBefore();"><i class="fa fa-angle-left"></i></a></li>
                      <li id='review_right'><a onclick="moveAfter();"><i class="fa fa-angle-right"></i></a></li>
                    </div>

                  </div>





                </div>

                <!-- 사용자가 후기 남기기 -->
                <div class="col-sm-7 col-lg-7 col-md-7">
                  <div class="reviews-content-right">
                    <h2>Leave Your Review!</h2>
                    <form>
                      <h4>How satisfied are you with this product?<em>*</em></h4>
                      <div class="table-responsive reviews-table">
                        <table>
                          <tbody><tr>
                            <th></th>
                            <th>1point</th>
                            <th>2point</th>
                            <th>3point</th>
                            <th>4point</th>
                            <th>5point</th>
                          </tr>
                          <tr>
                            <td>Scope</td>
                            <td><input type="radio" name="rating" value="1"></input></td>
                            <td><input type="radio" name="rating" value="2"></input></td>
                            <td><input type="radio" name="rating" value="3"></input></td>
                            <td><input type="radio" name="rating" value="4"></input></td>
                            <td><input type="radio" name="rating" value="5"></input></td>
                          </tr>
                        </tbody></table></div>
                        <div class="form-area">
                          <%if(username==""){%>
                            <div class="form-element">
                              <label>Reviews <em>*</em></label>
                              <textarea readonly id="byteInfo" onkeyup="fnChkByte(this);"></textarea>
                            </div>
                            <div class="buttons-set">
                              <button disabled class="button submit" title="Submit Review" type="button" id="SendReview"><span><i class="fa fa-thumbs-up"></i> &nbsp;Leave a review</span></button>
                            </div>

                            <%
                          }else{%>
                          <div class="form-element">
                            <label>Reviews <em>*</em></label>
                            <textarea id="byteInfo" onkeyup="fnChkByte(this);"></textarea>
                          </div>
                          <div class="buttons-set">
                            <button class="button submit" title="Submit Review" type="button" id="SendReview"><span><i class="fa fa-thumbs-up"></i> &nbsp;Leave a review</span></button>
                          </div>
                          <%}%>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    </div>
  </div>
</div>

<!-- Main Container End -->

 <!-- Footer -->

 <footer>
   <div class="footer-newsletter">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-7">
         </div>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
         <div class="footer-logo"><a href="/index"><img src="images/saemyundae.PNG" style="max-width:50%" alt="fotter logo"></a> </div>
         <p style="text-align:center; margin:0 0 0px">The Semyeondae is the best internet</p>
         <p style="text-align:center;  margin:0 0 0px">duty-free shop 'helper' to help you use</p>
         <p style="text-align:center;  margin:0 0 15px">the internet duty-free shop or get relevant information.</p>

       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="email"> <i class="fa fa-envelope"></i>
             <p>smdManager123@gmail.com</p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="phone"> <i class="fa fa-phone"></i>
             <p>(02) 712-5233</p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="address"> <i class="fa fa-map-marker"></i>
             <p>232-2, Gongneung-dong, NohWon-Koo, Seoul, Republic of Korea</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- <div class="footer-coppyright">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
         <div class="col-sm-6 col-xs-12">
           <div class="payment">
             <ul>
               <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
               <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
               <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
               <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div> -->
 </footer>
  <a href="#" class="totop"> </a>
</div>

<!-- End Footer -->

<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!-- flexslider js -->
<script type="text/javascript" src="js/jquery.flexslider.js"></script>

<script type="text/javascript" src="./js/jquery.oLoader.min.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
  /* <![CDATA[ */
  var mega_menu = '0';

  /* ]]> */
  </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="js/countdown.js"></script>

<!--cloud-zoom js -->
<script type="text/javascript" src="js/cloud-zoom.js"></script>
<script>

// -> attr('value')
//이외의 것 -> val();
function compareprice(origin, member){
  var result;
  if(member == '로그인 필요'){
    result = origin;
  }
  else{
    origin = origin * 1;
    member = member * 1;
    if(origin>=member){
      result = member;
    }
    else{
      result = origin;
    }
  }

  return result;
}
$(function(){
  var SL_URL = $('#prd_sl_url').attr('value');
  var LT_URL = $('#prd_lt_url').attr('value');
  var SSG_URL = $('#prd_ssg_url').attr('value');
  var name = "<%=username%>";
  var brand = $('#prd_brand').attr('value');
  var prd_name = $('#prd_name').attr('value');
  // if(name){
    var SL_reserved = $('#SL_reserved').attr('value');
    var LT_reserved = $('#LT_reserved').attr('value');
    var SSG_reserved = $('#SSG_reserved').attr('value');
    if(SL_reserved==undefined||SL_reserved==''){
      SL_reserved='';
    }
    if(LT_reserved==undefined||LT_reserved==''){
      LT_reserved='';
    }
    if(SSG_reserved==undefined||SSG_reserved==''){
      SSG_reserved='';
    }
    var body_total = {

      'SL_URL' : SL_URL,
      'LT_URL' : LT_URL,
      'SSG_URL' : SSG_URL,
      'SL_reserved' : SL_reserved,
      'LT_reserved' : LT_reserved,
      'SSG_reserved' : SSG_reserved,
      'prd_name' : brand+prd_name

    }
  // }

  $.ajax({
    type: "POST",
    url: "/product/single/getinfo",
    async : true,
    data : body_total,
    dataType : "JSON",
    success: function(json) {
      var flag=0;
      $('body').oLoader('hide');
      // console.log(json[0]);
      // console.log(json[1]);
      // console.log(json[2]);

      if(SL_URL){
        var sl_origin_price = json[0].split("/")[0];
        var sl_discount_price = json[0].split("/")[1];
        var sl_final_price = json[0].split("/")[4];
        var sl_percent = json[0].split("/")[3];
        var sl_storage = json[0].split("/")[2];
        if(sl_origin_price!="No price"){
          // $('#sl_origin_price').text("$"+sl_origin_price);

          $('#sl_duty_price').text("$"+compare_price(sl_origin_price,sl_discount_price));
          $('#sl_duty_price').val(compareprice(sl_origin_price,sl_discount_price));
          $('#sl_final_price').val(sl_percent);
          // if(sl_discount_price=="로그인 필요"){
          //   $('#sl_origin_price').css("text-decoration","none");
          //   $('#sl_discount_price').text(sl_discount_price);
          // }
          // else{
          //   $('#sl_discount_price').text("$"+sl_discount_price);
          // }
          if(name==''){
            $('#sl_final_price').text("No auth");
          }
          else{
            $('#sl_final_price').text("$"+sl_final_price);
          }
        }
        console.log(sl_storage);
          if(sl_storage!="No storage"&&sl_storage!="neg"){
            $('#sl_storage').text("SL : In stock");
            $('#sl_storage').val(true);
          }
          else{
            $("#sl_storage").css("background-color","red");
            $('#sl_storage').text("SL : No stock");
            $('#sl_storage').val(false);
            $('#select_sl').css('display','none');
            flag=flag+1;

          }
      }
      else{
        $('#select_sl').css('display','none');
        flag=flag+1;
      }
      if(LT_URL){
        //퍼센트가 같이 넘어온다.
        var lt_origin_price = json[1].split("/")[0];
        var lt_discount_price = json[1].split("/")[1];
        var lt_final_price = json[1].split("/")[4];
        var lt_percent = json[1].split("/")[3];
        var lt_storage = json[1].split("/")[2];
          // $('#lt_origin_price').text("$"+lt_origin_price);
          $('#lt_duty_price').text("$"+compare_price(lt_origin_price,lt_discount_price));
          let compare_lt=compareprice(lt_origin_price,lt_discount_price);
          $('#lt_duty_price').val(compare_lt);
          $('#lt_final_price').val(lt_percent);
          // if(lt_discount_price=="로그인 필요"){
          //   $('#lt_origin_price').css("text-decoration","none");
          //   $('#lt_discount_price').text(lt_discount_price);
          // }
          // else{
          //   $('#lt_discount_price').text("$"+lt_discount_price);
          // }
          if(name==''){
              $('#lt_final_price').text("No auth");
          }
          else{
              $('#lt_final_price').text("$"+lt_final_price);
          }

          if(lt_storage!="No storage"&&lt_storage!="neg"){
            $('#lt_storage').text("LT : In stock");
            $('#lt_storage').val(true);
          }
          else{
            $("#lt_storage").css("background-color","red");
            $('#lt_storage').text("LT : No stock");
            $('#lt_storage').val(false);
            $('#select_lt').css('display','none');
            flag=flag+1;
          }
      }
      else{
        $('#select_lt').css('display','none');
        flag=flag+1;
      }
      if(SSG_URL){
        //현재 퍼센트로 같이 넘어온다.
        var ssg_origin_price = json[2].split("/")[0];
        var ssg_discount_price = json[2].split("/")[1];
        var ssg_final_price = json[2].split("/")[4];
        var ssg_percent = json[2].split("/")[3];
        var ssg_storage = json[2].split("/")[2];
          // $('#ssg_origin_price').text("$"+ssg_origin_price);
          $('#ssg_duty_price').text("$"+compare_price(ssg_origin_price,ssg_discount_price));
          $('#ssg_duty_price').val(compareprice(ssg_origin_price,ssg_discount_price));
          $('#ssg_final_price').val(ssg_percent);
          // if(ssg_discount_price=="로그인 필요"){
          //   $('#ssg_origin_price').css("text-decoration","none");
          //   $('#ssg_discount_price').text(ssg_discount_price);
          // }
          // else{
          //   $('#ssg_discount_price').text("$"+ssg_discount_price);
          // }
          if(name==''){
            //글씨 css 변경 필요
            $('#ssg_final_price').text("No auth");
          }
          else{
            $('#ssg_final_price').text("$"+ssg_final_price);
          }
          if(ssg_storage!="No storage"&&ssg_storage!="neg"){
            $('#ssg_storage').text("SSG : In stock");
            $('#ssg_storage').val( true);
          }
          else{
            $("#ssg_storage").css("background-color","red");
            $('#ssg_storage').text("SSG : No stock");
            $('#ssg_storage').val(false);
            $('#select_ssg').css('display','none');
            flag=flag+1;
          }

      }
      else{
        $('#select_ssg').css('display','none');
        flag=flag+1;
      }

      if(flag>=3){
        $('#add_Cart').css('display','none');
      }
      else{

        $('#add_Cart_None').css('display','none');
      }


      var splitdata = json[3][0].split("<IK@SMD>");
      var post_1_name = splitdata[2];
      var post_1_img = splitdata[1];
      var post_1_msg  = splitdata[3];
      var post_1_url = splitdata[4];
      var post_2_name = splitdata[6];
      var post_2_img = splitdata[5];
      var post_2_msg  = splitdata[7];
      var post_2_url = splitdata[8];
      var post_3_name = splitdata[10];
      var post_3_img = splitdata[9];
      var post_3_msg  = splitdata[11];
      var post_3_url = splitdata[12];

      $("#post_1_url").attr("href", post_1_url);
      $("#post_1_name").attr("href", post_1_url);
      $("#post_1_name").text(post_1_name);
      $("#post_1_name").attr("title", post_1_name);
      $("#post_1_msg").text(post_1_msg);
      $("#post_1_img").attr("src", post_1_img);

      $("#post_2_url").attr("href", post_2_url);
      $("#post_2_name").attr("href", post_2_url);
      $("#post_2_name").text(post_2_name);
      $("#post_2_name").attr("title", post_2_name);
      $("#post_2_msg").text(post_2_msg);
      $("#post_2_img").attr("src", post_2_img);

      $("#post_3_url").attr("href", post_3_url);
      $("#post_3_name").attr("href", post_3_url);
      $("#post_3_name").text(post_3_name);
      $("#post_3_name").attr("title", post_3_name);
      $("#post_3_msg").text(post_3_msg);
      $("#post_3_img").attr("src", post_3_img);
      },
      beforeSend: function() {
        $('body').oLoader({
          backgroundColor: '#fff',
          fadeInTime: 500,
          fadeLevel: 0.9,
          wholeWindow: true,
          image: 'images/loading_product.gif',
          style: 2,
          imageBgColor: '#fff'
        });
      },
      complete: function() {
      },
      error: function(error) {
        console.log(error);
      }
  })
})
function compare_price(origin, discount){
  if(discount=="로그인 필요"){
    return origin;
  }
  else{
    if(origin*1>=discount*1){
      return discount;
    }
  }
}
function fnChkByte(obj) {
    var maxByte = 600; //최대 입력 바이트 수
    var str = obj.value;
    var str_len = str.length;

    var rbyte = 0;
    var rlen = 0;
    var one_char = "";
    var str2 = "";

    for (var i = 0; i < str_len; i++) {
        one_char = str.charAt(i);

        if (escape(one_char).length > 4) {
            rbyte += 2; //한글2Byte
        } else {
            rbyte++; //영문 등 나머지 1Byte
        }

        if (rbyte <= maxByte) {
            rlen = i + 1; //return할 문자열 갯수
        }
    }

    if (rbyte > maxByte) {
        $.sweetModal({icon:$.sweetModal.ICON_ERROR, content:" The max article is " + maxByte + "."});
        str2 = str.substr(0, rlen); //문자열 자르기
        obj.value = str2;
        fnChkByte(obj, maxByte);
    } else {
        document.getElementById('byteInfo').innerText = rbyte;
    }
}



</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/jquery.growl.js" type="text/javascript"></script>
<link href="css/jquery.growl.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.sweet-modal.min.css" rel="stylesheet">
<script src="js/jquery.sweet-modal.min.js"></script>
<script>
 $(document).ready(function() {
   var prd_id = $('#prd_id').attr('value');

   var startpage= $("#flag_review").attr('value')
   if(startpage<0){
     startpage=0;
   }

       $.ajax({
         type: "POST",
         url: "/autocomplete",
         async: true,
         dataType: "JSON",
         success: function(json) {
           var result = json.slice(0,10);
           $("#searchbox").autocomplete({
             source:  function(request, response) {
                   json=json.filter(function(n){ return n != undefined });
                   var results = $.ui.autocomplete.filter(json, request.term);
                   // console.log(results);
                   response(results.slice(0,10));
               },
             select: function(event, ui) {
               console.log(ui.item);
             },
             focus: function(event, ui) {
               $("#searchbox").val(ui.item.label);
               return false;
               //event.preventDefault();
             }
           });
         }
       })


    // send review list information

    $.ajax({
      type: "POST",
      url: "/Getreviewlist",
      data : {prd_id : prd_id,startpage : startpage},
      async: true,
      dataType: "JSON",
      success: function(json) {
        // var body = {
        //   totalcount : count,
        //   present_point : startPage,
        //   list : review
        // };
        if(startpage==0){
          $('#review_left').css('display','none');
        }
        var totalcount = json.totalcount;
        $('#total_count').text(totalcount);
        if((startpage+1)*3>totalcount){
          $('#review_right').css('display','none');
        }
        else{
          $('#review_right').css('display','block');
        }
        startpage = startpage*1;

        document.getElementById('flag_review').value = startpage;



        if(json.list[0]){
          $('#review_1').css('display','block');
          $('#review_content1').text(json.list[0].content);
          $('#review_user_id1').text('(xxx'+json.list[0].user_username.substring(3)+')');
          ratingcheck(json.list[0].rating, 'review_rating1');
          // $('#review_rating1').text(json.list[0].rating);
          $('#review_date1').text("Posted on "+json.list[0].createdAt.split(" ")[0]);
        }
        else{
          $('#review_1').css('display','none');
          $('#review_0').css('display','inline');
          $('#review_0').text('There is no review.');
        }
        if(json.list[1]){
          $('#review_2').css('display','block');
          $('#review_content2').text(json.list[1].content);
          $('#review_user_id2').text('(xxx'+json.list[1].user_username.substring(3)+')');
          ratingcheck(json.list[1].rating, 'review_rating2');
          $('#review_date2').text("Posted on "+json.list[1].createdAt.split(" ")[0]);
        }
        else{
            $('#review_2').css('display','none');
        }
        if(json.list[2]){
          $('#review_3').css('display','block');
          $('#review_content3').text(json.list[2].content);
          $('#review_user_id3').text('(xxx'+json.list[2].user_username.substring(3)+')');
          ratingcheck(json.list[2].rating, 'review_rating3');
          $('#review_date3').text("Posted on "+json.list[2].createdAt.split(" ")[0]);
        }
        else{
          $('#review_3').css('display','none');
        }


      }
    })





    $('#SendReview').click(function () {
      // getter
      var radioVal = $('input[name="rating"]:checked').val();
      var content = $("#byteInfo").val();

      // body: {
      //   prd_id : prd_id,
      //   user_id: user_id,
      //   username : username,
      //   rating : rating,
      //   content : content
      // },
      var body = {
        prd_id : prd_id,
        user_id: '<%=user_id%>',
        username : '<%=username%>',
        rating : radioVal,
        content : content
      };


      $.ajax({
        type: "POST",
        url: "/EnrollReview",
        data: body,
        async: true,
        dataType: "JSON",
        success: function(json) {

          // var body = {
          //   totalcount : count,
          //   present_point : startPage,
          //   list : review
          // };

          $("#byteInfo").val('');
          if(startpage==0){
            $('#review_left').css('display','none');
          }
          var totalcount = json.totalcount;
          $('#total_count').text(totalcount);
          if((startpage+1)*3>totalcount){
            $('#review_right').css('display','none');
          }
          else{
            $('#review_right').css('display','block');
          }



          if(json.list[0]){
            $('#review_0').css('display','none');
            $('#review_1').css('display','block');
            $('#review_content1').text(json.list[0].content);
            $('#review_user_id1').text('(***'+json.list[0].user_username.substring(3)+')');
            ratingcheck(json.list[0].rating, 'review_rating1');
            // $('#review_rating1').text(json.list[0].rating);
            $('#review_date1').text("Posted on "+json.list[0].createdAt.split(" ")[0]);
          }
          else{
            $('#review_1').css('display','none');
            $('#review_0').css('display','inline');
            $('#review_0').text('There is no review.');
          }
          if(json.list[1]){
            $('#review_2').css('display','block');
            $('#review_content2').text(json.list[1].content);
            $('#review_user_id2').text('(***'+json.list[1].user_username.substring(3)+')');
            ratingcheck(json.list[1].rating, 'review_rating2');
            $('#review_date2').text("Posted on "+json.list[1].createdAt.split(" ")[0]);
          }
          else{
              $('#review_2').css('display','none');
          }
          if(json.list[2]){
            $('#review_3').css('display','block');
            $('#review_content3').text(json.list[2].content);
            $('#review_user_id3').text('(***'+json.list[2].user_username.substring(3)+')');
            ratingcheck(json.list[2].rating, 'review_rating3');
            $('#review_date3').text("Posted on "+json.list[2].createdAt.split(" ")[0]);
          }
          else{
            $('#review_3').css('display','none');
          }
          startpage = startpage*1;
          document.getElementById('flag_review').value = startpage;


        }
      })
    });
  })
function moveBefore(){
  var startpage = $("#flag_review").val()-1;

  var prd_id = $("#prd_id").attr('value')
  $.ajax({
    type: "POST",
    url: "/Getreviewlist",
    data : {prd_id : prd_id,startpage : startpage},
    async: true,
    dataType: "JSON",
    success: function(json) {
      // var body = {
      //   totalcount : count,
      //   present_point : startPage,
      //   list : review
      // };
      if(startpage==0){
        $('#review_left').css('display','none');
      }
      var totalcount = json.totalcount;
      $('#total_count').text(totalcount);
      if((startpage+1)*3>totalcount){
        $('#review_right').css('display','none');
      }
      else{
        $('#review_right').css('display','block');
      }
      if(json.list[0]){
        $('#review_1').css('display','block');
        $('#review_content1').text(json.list[0].content);
        $('#review_user_id1').text('(xxx'+json.list[0].user_username.substring(3)+')');
        ratingcheck(json.list[0].rating, 'review_rating1');
        // $('#review_rating1').text(json.list[0].rating);
        $('#review_date1').text("Posted on "+json.list[0].createdAt.split(" ")[0]);
      }
      else{
        $('#review_1').css('display','none');
        $('#review_0').css('display','inline');
        $('#review_0').text('There is no review.');
      }
      if(json.list[1]){
        $('#review_2').css('display','block');
        $('#review_content2').text(json.list[1].content);
        $('#review_user_id2').text('(xxx'+json.list[1].user_username.substring(3)+')');
        ratingcheck(json.list[1].rating, 'review_rating2');
        $('#review_date2').text("Posted on "+json.list[1].createdAt.split(" ")[0]);
      }
      else{
          $('#review_2').css('display','none');
      }
      if(json.list[2]){
        $('#review_3').css('display','block');
        $('#review_content3').text(json.list[2].content);
        $('#review_user_id3').text('(xxx'+json.list[2].user_username.substring(3)+')');
        ratingcheck(json.list[2].rating, 'review_rating3');
        $('#review_date3').text("Posted on "+json.list[2].createdAt.split(" ")[0]);
      }
      else{
        $('#review_3').css('display','none');
      }
      startpage = startpage*1;
      document.getElementById('flag_review').value = startpage;

    }
  })


}
function moveAfter(){
  var startpage = $("#flag_review").val()+1;

  var prd_id = $("#prd_id").attr('value')
  $.ajax({
    type: "POST",
    url: "/Getreviewlist",
    data : {prd_id : prd_id,startpage : startpage},
    async: true,
    dataType: "JSON",
    success: function(json) {
      // var body = {
      //   totalcount : count,
      //   present_point : startPage,
      //   list : review
      // };

      if(startpage==0){
        $('#review_left').css('display','none');
      }
      else{
        $('#review_left').css('display','block');
      }
      var totalcount = json.totalcount;
      $('#total_count').text(totalcount);
      if((startpage+1)*3>totalcount){
        $('#review_right').css('display','none');
      }
      else{
        $('#review_right').css('display','block');
      }
      if(json.list[0]){
        $('#review_1').css('display','block');
        $('#review_content1').text(json.list[0].content);
        $('#review_user_id1').text('(xxx'+json.list[0].user_username.substring(3)+')');
        ratingcheck(json.list[0].rating, 'review_rating1');
        // $('#review_rating1').text(json.list[0].rating);
        $('#review_date1').text("Posted on "+json.list[0].createdAt.split(" ")[0]);
      }
      else{
        $('#review_1').css('display','none');
        $('#review_0').css('display','inline');
        $('#review_0').text('There is no review.');
      }
      if(json.list[1]){
        $('#review_2').css('display','block');
        $('#review_content2').text(json.list[1].content);
        $('#review_user_id2').text('(xxx'+json.list[1].user_username.substring(3)+')');
        ratingcheck(json.list[1].rating, 'review_rating2');
        $('#review_date2').text("Posted on "+json.list[1].createdAt.split(" ")[0]);
      }
      else{
          $('#review_2').css('display','none');
      }
      if(json.list[2]){
        $('#review_3').css('display','block');
        $('#review_content3').text(json.list[2].content);
        $('#review_user_id3').text('(xxx'+json.list[2].user_username.substring(3)+')');
        $('#review_rating3').innerHTML=ratingcheck(json.list[2].rating);
        ratingcheck(json.list[2].rating, 'review_rating3');
        $('#review_date3').text("Posted on "+json.list[2].createdAt.split(" ")[0]);
      }
      else{
        $('#review_3').css('display','none');
      }
      startpage = startpage*1;
      document.getElementById('flag_review').value = startpage;

    }
  })


}
function ratingcheck(num, rating_seq){
  let rating = document.getElementById(rating_seq);
  var star='';
  if(rating!=null){
    for(var  i = 0 ; i < 5 ; i++){
      if(i<num){
        star=star+'<i class="fa fa-star"></i>';
      }
      else{
        star=star+'<i class="fa fa-star-o"></i>';
      }

    }
    rating.innerHTML = star;
  }



  // document.getElementById(rating_seq).append(rating);

}

function addCart(){
  var prd_id = $("#prd_id").attr('value')


  var duty_category = $('#duty_category option:selected').attr('value')
  var storage; //boolean
  var percent;
  var price;
  var img_url = $('#img_url').attr('value')
  var prd_url ;
  var prd_name =$('#prd_name').attr('value')

  if(duty_category<0){

      $.sweetModal({icon:$.sweetModal.ICON_ERROR, content:'Please select the duty free shop to put in your shopping cart'});
      duty_category.focus();
  }
  else{

    //신라
    if(duty_category==0){

      price = $('#sl_duty_price').val();
      storage = $('#sl_storage').val();
      percent = $('#sl_final_price').val();
      prd_url = $('#prd_sl_url').attr('value');
    }
    //롯데
    else if (duty_category==1){


      price = $('#lt_duty_price').val();
      storage = $('#lt_storage').val();
      percent = $('#lt_final_price').val();
      prd_url = $('#prd_lt_url').attr('value');

    }
    //신세계
    else if (duty_category==2){

      price = $('#ssg_duty_price').val();
      storage = $('#ssg_storage').val();
      percent = $('#ssg_final_price').val();
      prd_url = $('#prd_ssg_url').attr('value');
    }

    var add_info = {
      prd_id : prd_id,
      storage : storage,
      img_url : img_url,
      duty_category : duty_category,
      price : price,
      percent : percent,
      prd_url : prd_url,
      prd_name : prd_name
    }



    $.ajax({
      type: "POST",
      url: "/product/addCart",
      data: add_info,
      async: false,
      dataType: "JSON",
      success: function(json) {
        //성공시 success

        if(json=='success'){
          $.sweetModal({icon:$.sweetModal.ICON_SUCCESS, content:'The item is in the shopping cart..'});
        }
      }
    })

  }

}

function cart_nologin(){
  $.sweetModal.confirm('If you want to use cart function, you need login. Do you login our site?', function() {
     location.href='/user/login';
   });

}
</script>

</body>
</html>
