<% include ./includes/header.ejs %>
  <!-- Breadcrumbs -->

  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>"><%=depth1%></a></li>
            <%if(depth2==''||depth2!=undefined){%>
            <li class=""> <a title="Go to Home Page" href="/product?depth1=<%=depth1%>&depth2=<%=depth2%>">&raquo; <%=depth2%></a></li>
              <% if(depth3==''||depth3!=undefined){%>
                <li><a title="Go to Home Page" href="/product?depth1=<%=depth1%>&depth2=<%=depth2%>&depth3=<%=depth3%>"><strong>&raquo; <%=depth3%></strong></a></li>
              <%}
            }%>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
  <!-- Main Container -->
  <div class="main-container col1-layout">
  <div class="container">
    <div class="row">
      <div class="col-main">
        <div class="product-view-area">
          <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
            <div class="large-image"> <img class="zoom-img" src="<%=product.prd_IMGURL%>" alt="products">  </div>
            <div class="flexslider flexslider-thumb">

            </div>

            <!-- end: more-images -->

          </div>
          <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">

              <div class="product-name">
                <h4><%=product.prd_Brand%></h4>
                <h1><%=product.prd_Name%></h1>
              </div>
              <div class="product-name">
                <!-- <h4>요약 설명</h4>
                <p style="color: red;">피부 표면의 과잉 피지를 줄여주는 오일-프리 토너</p>
                <p> 스쿠알란, 살구씨 오일, 스위트 아몬드 오일, 아보카도 오일 등 식물성 보습 성분이 피부 본래의 수분 장벽을 강화해주어 진정 및 보습에 도움을 줍니다.</p>
                <h1></h1> -->
              </div>
              <h4>상품 가격</h4>
              <div class="col-sm-7 col-lg-12 col-md-7">
                <div class="reviews-content-right">
                  <div class="table-responsive reviews-table">
                    <table>
                      <tbody>

                          <tr>
                            <th></th>
                            <th>정상가</th>
                            <th>회원가</th>
                            <th>세면대 최저가!</th>
                            <th>면세점 이동</th>
                          </tr>
                          <tr>
                            <td style="text-align:left">신라인터넷면세점 :</td>
                            <%if(product.prd_SLURL!="42"){%>
                            <td><p class="old-price"><span id='sl_origin_price' class="price"> </span></p></td>
                            <td><p class="special-price"><span id='sl_discount_price' class="price"> </span></p></td>
                            <td><p class="special-price"><span id='sl_final_price' class="price2"></p></td>
                            <td><a title="<%=product.prd_SLURL%>" href="<%=product.prd_SLURL%>" target="_blank">연결하기</a></td>
                            <%}else{%>
                              <td colspan="4"><p class="old-price"> <strong>신라인터넷면세점은 해당 상품이 존재하지 않습니다.</strong></p></td>
                            <%}%>
                          </tr>
                          <tr>
                            <td style="text-align:left">롯데인터넷면세점 :</td>
                            <%if(product.prd_ProductURL!="42"){%>
                            <td><p class="old-price"><span id='lt_origin_price' class="price"> </span></p></td>
                            <td><p class="special-price"><span id='lt_discount_price' class="price"></span></p></td>
                            <td><p class="special-price"><span id='lt_final_price' class="price2"></span></p></td>
                            <td><a title="<%=product.prd_ProductURL%>" href="<%=product.prd_ProductURL%>" target="_blank">연결하기</a></td>
                            <%}else{%>
                              <td colspan="4"><p class="old-price"> <strong>롯데인터넷면세점은 해당 상품이 존재하지 않습니다.</strong></p></td>
                            <%}%>
                          </tr>
                          <tr>
                            <td style="text-align:left">신세계인터넷면세점 :</td>
                            <%if(product.prd_SSGURL!="42"){%>
                            <td><p class="old-price"><span id='ssg_origin_price' class="price"></span></p></td>
                            <td><p class="special-price"><span id='ssg_discount_price' class="price"></span></p></td>
                            <td><p class="special-price"><span id='ssg_final_price' class="price2"></span></p></td>
                            <td><a title="<%=product.prd_SSGURL%>" href="<%=product.prd_SSGURL%>" target="_blank" >연결하기</a></td>
                            <%}else{%>
                            <td colspan="4"><p class="old-price"> <strong>신세계인터넷면세점은 해당 상품이 존재하지 않습니다.</strong></p></td>
                            <%}%>
                          </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="product-name">
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
              </div>






              <div class="ratings">

                <p class="availability in-stock pull-left">재고 상태:
                  <%if(product.prd_SLURL!="42"){%>
                    <span id='sl_storage'>신라 : 재고 없음</span>
                  <%}
                  if(product.prd_ProductURL!="42"){%>
                    <span id='lt_storage'>롯데 : 재고 없음</span>
                  <%
                }if(product.prd_SSGURL!="42"){%>
                    <span id='ssg_storage'>신세계 : 재고 없음</span>
                    <%}%>
                  </p>
              </div>
              <div class="product-variation">
                <form action="#" method="post">
                  <div class="cart-plus-minus">
                    <label for="qty">수량:</label>
                    <div class="numbers-row">
                      <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                      <input type="text" class="qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                      <div onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                    </div>
                  </div>
                  <button class="button pro-add-to-cart" title="Add to Cart" type="button"><span><i class="fa fa-shopping-cart"></i> 장바구니에 담기</span></button>
                </form>
              </div>
          </div>
        </div>
      </div>
      <div class="product-overview-tab">
        <div class="container">
          <div class="row">
            <div class="col-xs-12"><div class="product-tab-inner">
              <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                <li class="active"> <a href="#Post" data-toggle="tab"> 전문 포스트 </a> </li>
                <li> <a href="#reviews" data-toggle="tab">고객 후기</a> </li>
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Post">
                  <div class="main-container col2-left-layout">
                    <div class="container">
                      <div class="row">
                        <!-- 전문 포스트 부분 python으로 추가해서 보여준다. -->
                            <div class="product-grid-area">
                              <ul class="products-grid">
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div align="right" class="product-item"  style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner"  >
                                      <div class="product-thumbnail">
                                        <div class="pr-img-area"> <a id='post_1_url' title="post1" href="" target="_blank">
                                          <figure>
                                             <img class="first-img" id='post_1_img' src=""  alt=""></img>
                                          </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info" >
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_1_name' title="post1" href="" target="_blank"></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_1_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div class="product-item"   style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner">
                                      <div class="product-thumbnail" >
                                        <div class="pr-img-area"> <a id='post_2_url' title="post2" href="" target="_blank">
                                          <figure> <img class="first-img" id='post_2_img' src="" alt=""></img>
                                       </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info">
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_2_name' title="post2" href="" target="_blank" ></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_2_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="width:360px">
                                  <div class="product-item"   style ='position: relative; margin-left: 80px;width:50%;'>
                                    <div class="item-inner">
                                      <div class="product-thumbnail" >
                                        <div class="pr-img-area"> <a id='post_3_url' title="post3" href="" target="_blank">
                                          <figure> <img class="first-img" id='post_3_img' src="" alt="">
                                          </img>
                                       </figure>
                                          </a>
                                        </div>
                                      </div>
                                      <div class="item-info" >
                                        <div class="info-inner">
                                          <div class="item-title"> <a id='post_3_name' title="post3" href="" target="_blank"></a> </div>
                                          <div class="item-content">
                                            <div class="item-price">
                                              <div class="price-box"> <span id='post_3_msg' class="regular-price"></span> </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>


                      </div>
                    </div>
                  </div>
                </div>
                <div id="reviews" class="tab-pane fade">
                  <div class="col-sm-5 col-lg-5 col-md-5">
                    <div class="reviews-content-left">
                      <h2>고객 후기</h2>
                      <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                      <p class="rating-links"> <a>2개의 후기(들)</a> <span class="separator">|</span> <a>후기를 남겨보세요</a> </p>
                      <div class="review-ratting">
                        <p><a href="#">그냥 그렇네요.</a> hanxxx(고객닉네임)</p>
                        <table>
                          <tbody><tr>
                            <th>별점</th>
                            <td>
                              <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                              </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <p class="author">
                        <small> Posted on 16/12/2015</small>
                      </p>
                    </div>
                    <div class="review-ratting">
                      <p><a href="#">아주 좋아요!</a> Wisxxx(고객닉네임)</p>
                      <table>
                        <tbody><tr>
                          <th>별점</th>
                          <td>
                            <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star-o"></i>
                            </div>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                    <p class="author">
                      <small> Posted on 26/12/2015</small>
                    </p>
                  </div>
                  </div>
                </div>
                <div class="col-sm-7 col-lg-7 col-md-7">
                  <div class="reviews-content-right">
                    <h2>후기를 남겨보세요!</h2>
                    <form>
                      <h4>이 제품에 대한 만족도는 어떠신가요?<em>*</em></h4>
                      <div class="table-responsive reviews-table">
                        <table>
                          <tbody><tr>
                            <th></th>
                            <th>1점</th>
                            <th>2점</th>
                            <th>3점</th>
                            <th>4점</th>
                            <th>5점</th>
                          </tr>
                          <tr>
                            <td>별점</td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                            <td><input type="radio"></td>
                          </tr>
                        </tbody></table></div>
                        <div class="form-area">
                          <div class="form-element">
                            <label>후기 <em>*</em></label>
                            <textarea></textarea>
                          </div>
                          <div class="buttons-set">
                            <button class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;후기 남기기</span></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    </div>
  </div>
</div>

<!-- Main Container End -->

 <!-- Footer -->

 <footer>
   <div class="footer-newsletter">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-sm-7">
         </div>
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row">
       <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
         <div class="footer-logo"><a href="/"><img src="images/saemyundae_logo2.png" alt="fotter logo"></a> </div>
         <p>세면대는 인터넷 면세점을 이용하거나 관련 정보를 얻고 싶을 때 도움을 주는 최고의 ‘도우미’입니다.</p>

       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="email"> <i class="fa fa-envelope"></i>
             <p><a href="mailto:support@template.com">Saemyundae@google.com</a></p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="phone"> <i class="fa fa-phone"></i>
             <p>(02) 712-5233</p>
           </div>
         </div>
       </div>
       <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3 collapsed-block">
         <div class="footer-content">
           <div class="address"> <i class="fa fa-map-marker"></i>
             <p> 서울시 노원구 공릉동 232-2 3층</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="footer-coppyright">
     <div class="container">
       <div class="row">
         <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2017 <a href="#"> Modern </a>. All Rights Reserved. </div>
         <div class="col-sm-6 col-xs-12">
           <div class="payment">
             <ul>
               <li><a href="#"><img title="Visa" alt="Visa" src="images/visa.png"></a></li>
               <li><a href="#"><img title="Paypal" alt="Paypal" src="images/paypal.png"></a></li>
               <li><a href="#"><img title="Discover" alt="Discover" src="images/discover.png"></a></li>
               <li><a href="#"><img title="Master Card" alt="Master Card" src="images/master-card.png"></a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </footer>
  <a href="#" class="totop"> </a>
</div>

<!-- End Footer -->

<!-- JS -->

<!-- jquery js -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<!-- flexslider js -->
<script type="text/javascript" src="js/jquery.flexslider.js"></script>

<script type="text/javascript" src="./js/jquery.oLoader.min.js"></script>

<!-- megamenu js -->
<script type="text/javascript" src="js/megamenu.js"></script>
<script type="text/javascript">
  /* <![CDATA[ */
  var mega_menu = '0';

  /* ]]> */
  </script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="js/main.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="js/countdown.js"></script>

<!--cloud-zoom js -->
<script type="text/javascript" src="js/cloud-zoom.js"></script>
<script>
$(function(){
  var SL_URL = "<%=product.prd_SLURL%>";
  var LT_URL = "<%=product.prd_ProductURL%>";
  var SSG_URL = "<%=product.prd_SSGURL%>";
  var name = "<%=username%>";

  // if(name){
    var SL_reserved = "<%=SL_reserved%>";
    var LT_reserved = "<%=LT_reserved%>";
    var SSG_reserved = "<%=SSG_reserved%>";
    if(SL_reserved==undefined||SL_reserved==''){
      SL_reserved='';
    }
    if(LT_reserved==undefined||LT_reserved==''){
      LT_reserved='';
    }
    if(SSG_reserved==undefined||SSG_reserved==''){
      SSG_reserved='';
    }
    var body_total = {
      'SL_URL' : SL_URL,
      'LT_URL' : LT_URL,
      'SSG_URL' : SSG_URL,
      'SL_reserved' : SL_reserved,
      'LT_reserved' : LT_reserved,
      'SSG_reserved' : SSG_reserved,
      'prd_name' : '<%=product.prd_Brand%><%=product.prd_Name%>'
    }
  // }

  $.ajax({
    type: "POST",
    url: "/product/single/getinfo",
    async : true,
    data : body_total,
    dataType : "JSON",
    success: function(json) {

      $('body').oLoader('hide');
      console.log(json[0]);
      console.log(json[1]);
      console.log(json[2]);
      if(SL_URL){
        var sl_origin_price = json[0].split("/")[0];
        var sl_discount_price = json[0].split("/")[1];
        var sl_final_price = json[0].split("/")[3];
        var sl_storage = json[0].split("/")[2];
        if(sl_origin_price!="No price"){
          $('#sl_origin_price').text("$"+sl_origin_price);
          if(sl_discount_price=="로그인 필요"){
            $('#sl_origin_price').css("text-decoration","none");
            $('#sl_discount_price').text(sl_discount_price);
          }
          else{
            $('#sl_discount_price').text("$"+sl_discount_price);
          }
          if(name==''){
            $('#sl_final_price').text("연동 필요");
          }
          else{
            $('#sl_final_price').text("$"+sl_final_price);
          }
        }

          if(sl_storage!="No storage"&&sl_storage!="neg"){
            $('#sl_storage').text("신라 : 재고 있음");
          }
          else{
            $("#sl_storage").css("background-color","red");
            $('#sl_storage').text("신라 : 재고 없음");
          }
      }
      if(LT_URL){
        //퍼센트가 같이 넘어온다.
        var lt_origin_price = json[1].split("/")[0];
        var lt_discount_price = json[1].split("/")[1];
        var lt_final_price = json[1].split("/")[4];
        var lt_storage = json[1].split("/")[2];
          $('#lt_origin_price').text("$"+lt_origin_price);
          if(lt_discount_price=="로그인 필요"){
            $('#lt_origin_price').css("text-decoration","none");
            $('#lt_discount_price').text(lt_discount_price);
          }
          else{
            $('#lt_discount_price').text("$"+lt_discount_price);
          }
          if(name==''){
              $('#lt_final_price').text("연동 필요");
          }
          else{
              $('#lt_final_price').text("$"+lt_final_price);
          }

          if(lt_storage!="No storage"&&lt_storage!="neg"){
            $('#lt_storage').text("롯데 : 재고 있음");
          }
          else{
            $("#lt_storage").css("background-color","red");
            $('#lt_storage').text("롯데 : 재고 없음");
          }
      }
      if(SSG_URL){
        //현재 퍼센트로 같이 넘어온다.
        var ssg_origin_price = json[2].split("/")[0];
        var ssg_discount_price = json[2].split("/")[1];
        var ssg_final_price = json[2].split("/")[4];
        var ssg_storage = json[2].split("/")[2];
          $('#ssg_origin_price').text("$"+ssg_origin_price);
          if(ssg_discount_price=="로그인 필요"){
            $('#ssg_origin_price').css("text-decoration","none");
            $('#ssg_discount_price').text(ssg_discount_price);
          }
          else{
            $('#ssg_discount_price').text("$"+ssg_discount_price);
          }
          if(name==''){
            //글씨 css 변경 필요
            $('#ssg_final_price').text("연동 필요");
          }
          else{
            $('#ssg_final_price').text("$"+ssg_final_price);
          }
          if(ssg_storage!="No storage"&&ssg_storage!="neg"){
            $('#ssg_storage').text("신세계 : 재고 있음");
          }
          else{
            $("#ssg_storage").css("background-color","red");
            $('#ssg_storage').text("신세계 : 재고 없음");
          }

      }

      var splitdata = json[3][0].split("<IK@SMD>");
      var post_1_name = splitdata[2];
      var post_1_img = splitdata[1];
      var post_1_msg  = splitdata[3];
      var post_1_url = splitdata[4];
      var post_2_name = splitdata[6];
      var post_2_img = splitdata[5];
      var post_2_msg  = splitdata[7];
      var post_2_url = splitdata[8];
      var post_3_name = splitdata[10];
      var post_3_img = splitdata[9];
      var post_3_msg  = splitdata[11];
      var post_3_url = splitdata[12];

      $("#post_1_url").attr("href", post_1_url);
      $("#post_1_name").attr("href", post_1_url);
      $("#post_1_name").text(post_1_name);
      $("#post_1_name").attr("title", post_1_name);
      $("#post_1_msg").text(post_1_msg);
      $("#post_1_img").attr("src", post_1_img);

      $("#post_2_url").attr("href", post_2_url);
      $("#post_2_name").attr("href", post_2_url);
      $("#post_2_name").text(post_2_name);
      $("#post_2_name").attr("title", post_2_name);
      $("#post_2_msg").text(post_2_msg);
      $("#post_2_img").attr("src", post_2_img);

      $("#post_3_url").attr("href", post_3_url);
      $("#post_3_name").attr("href", post_3_url);
      $("#post_3_name").text(post_3_name);
      $("#post_3_name").attr("title", post_3_name);
      $("#post_3_msg").text(post_3_msg);
      $("#post_3_img").attr("src", post_3_img);
      },
      beforeSend: function() {
        $('body').oLoader({
          backgroundColor: '#fff',
          fadeInTime: 500,
          fadeLevel: 0.9,
          wholeWindow: true,
          image: 'images/loading_product.gif',
          style: 2,
          imageBgColor: '#fff'
        });
      },
      complete: function() {
      },
      error: function(error) {
        console.log(error);
      }
  })
})
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
 $(document).ready(function() {
    $.ajax({
      type: "POST",
      url: "/autocomplete",
      async: true,
      dataType: "JSON",
      success: function(json) {
        $("#searchbox").autocomplete({
          source:  function(request, response) {
                var results = $.ui.autocomplete.filter(json, request.term);
                response(results.slice(0, 10));
            },
          select: function(event, ui) {
            console.log(ui.item);
          },
          focus: function(event, ui) {
            $("#searchbox").val(ui.item.label);
            return false;
            //event.preventDefault();
          }
        });
      }
    })
  })
</script>

</body>
</html>
